/* Header */
.header {
    padding: 26px 0;
    background: #fffae3;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.header-action__link,
.navbar__link {
    padding: 4px 18px;
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    text-decoration-line: underline;
}

/* Shopping cart */
.shopping-cart {
    margin-right: 15px;
}

.shopping-cart__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

/* Action */
.header-action {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-action__sign-up {
    min-width: 117px;
    color: #000;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.header-action__sign-up:hover {
    background-color: var(--hover-item);
    color: #fff;
    border-color: var(--hover-item);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    transform: translateY(-2px);
    cursor: pointer;
}

.header-action__link {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-action__link:hover {
    color: var(--hover-item);
    text-decoration: underline;
    cursor: pointer;
}
